@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200;1,400&display=swap');
body{
    margin: 0;
    background-color: #FDF0D5;
}

.format{
    margin: 3% 0% 0% 15%;

}

.container{
    height: 100px;
    padding: 0 20px;
    background-color: #002f49e6;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nome{
    font-size: 3rem;
    padding: 1.5rem;
    color: azure;
    font: Arial ;
    position: relative;
    letter-spacing: 0px;
}   

.imagem1{
    width: 50px;
    height: 50px;
}

.logo_user{
    margin-right: 10%;
    width: 50px;
    height: 50px;
}

.user{
    background-color: #d3d3d3;
    height: 100px;
    width: 240px;
    padding: 0px 60px 0px 40px;
    border-radius: 40px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60%;
}

.botoes{
    margin-left: 4%;
    display: block;
}

.texto{
    color: aliceblue;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}
.start_btn{
    color: white;
    background-color: #C1121F;
    border: 4px solid #002f49e6;
    width: 350px;
    height: 115px;
    border-radius: 20px;
    box-shadow: none;
    margin-top: 50px;

}

.percGatos{
    font-size: 15px;
    align-items: center;
    border-radius: 10px;
    background-color: #002f49e6;
    width: 48rem;
    height: 22.3rem;
    border: 4px solid #f1af09 ;
    display: inline-block;
    margin-left: 42%;
    margin-top: -530px;
    float: left;
    margin-bottom: 0px;

}


.labels{
    display: inline-flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
    margin: 2%;
    color: white;
    background-color: #C1121F;
    padding: 15px 92px 15px 92px;
    border: 2px solid #780000;
    border-radius: 15px;
    align-items: center;
}

.apostas{
    display: block;
    font-size: large;
    color: white;
    border-radius: 4px;
    margin-left: 43%;
    margin-top: -150px;
}

.celulas1{
    border: 4px solid #002f49e6;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    padding: 40px 92px 40px 92px;
    margin: 10px 10px 0px 10px;
    background-color: #C1121F;
    position: absolute;
    margin-left: -1%;
}

.celulas2{
    border: 4px solid #002f49e6;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    padding: 33px 100px 33px 100px;
    margin: 10px 10px 0px 10px;
    background-color: #C1121F;
    position: absolute;
    margin-left: 19%;
}

.menu_gatos{
    border: 0px solid transparent;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 5%;
    border-radius: 5px;
    margin-left: -5%;
}

.gatos{
    height: 100px;
    width: 100px;
}

.porcaria{
    display: none;

}

.labels:hover .porcaria{
    background-color: transparent;
    font-size: 20px;
    display: flex;
    position: fixed;
    margin-left: 100px;
}

.imagem2{
    width: 50px;
    height: 50px;
    margin: 3%;
}



.links{
    margin: 0% 45% 0 45%;

}

.rodape{

    margin-top: 300px;
    height: 56px;
    position: relative;
    align-self: center;
    align-items: center;
}